#message1{
      position: relative;
      top: 55px;
    
}

#messagelabel{
    position: absolute;
    top: 300px;
}

#send{
    position: relative;
    top: 75px;
}


@media (min-width: 800px) and (max-width: 1700px){
    #message2{
        display: none;
    }

    #messagelabelx{
        display: none;
    }
}




@media (min-width: 190px) and (max-width: 800px){

    #mesaage1{
        display: none;
    }

    .message{
        display: none;
    }

#message2{
    position: relative;
    top: 63px;
}

 #send{
    position: absolute;
    left: 40%;
    top: 570px;

 }

 #messagelabelx{
    position: absolute;
    top: 320px;
    font-size: 15px;
    left: 95.5px;
 }

}